Xft.dpi: 192
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

Xcursor.size: 64
Xcursor.theme: Breeze


! Terminal font
URxvt.font: xft:Inconsolata:style=Regular:size=10

! Disable scrollbar
URxvt.scrollBar: false

! Set terminal padding
URxvt.internalBorder: 64

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard,resize-font,fullscreen
! URxvt.keysym.Shift-Control-C: perl:clipboard:copy
! URxvt.keysym.Shift-Control-V: perl:clipboard:paste

URxvt.keysym.S-C-c: perl:clipboard:copy
URxvt.keysym.S-C-v: perl:clipboard:paste
URxvt.keysym.F11:   perl:fullscreen:switch

URxvt.saveLines:    20000

!!!!!!!!!!!!!! DZen !!!!!!!!!!!!!!!!
dzen2.font: xft:Inconsolata:style=Regular:size=8




! Colors {{{

! special
*foreground:   #f0f0f0
*background:   #232c33
*cursorColor:  #f0f0f0

! black
! Second black is grey
*color0:       #232c33
*color8:       #70838c

! red
*color1:       #99736e
*color9:       #99736e

! green
*color2:       #78a090
*color10:      #78a090

! yellow
*color3:       #bfb7a1
*color11:      #bfb7a1

! blue
*color4:       #7c9fa6
*color12:      #7c9fa6

! magenta
*color5:       #BF9C86
*color13:      #BF9C86

! cyan
*color6:       #99BFBA
*color14:      #99BFBA

! white
*color7:       #f0f0f0
*color15:      #f0f0f0

! }}}

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #232c33, #232c33, #7c9fa6
rofi.color-normal: #232c33, #f0f0f0, #232c33, #268bd2, #f0f0f0
rofi.color-active: #232c33, #7c9fa6, #232c33, #268bd2, #205171
rofi.color-urgent: #232c33, #f3843d, #232c33, #268bd2, #ffc39c
